body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #FFF;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
   /* padding-left: 15px;*/
  }
  #nav{
		display: block;
  		position: absolute;
  		z-index: 9000;
  }
  
  .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{
	margin-top:20px;
	font-size: 13px;
}

.tabla-datos-importantes {
	font-family:"Courier New";
	font-family: initial;
  	font-size: 13px;
	
}

.odd{
	background-color: #f7f7f7;
}
.mi-tbody{/*
	color: black;*/
}

#registro{
	visibility: hidden;
}


.nav-sidebar { 
    width: 100%; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #000;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.nav-sidebar .active a { 
    cursor: default;
   /* background-color: #707071; */
    color: #000; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    /*background-color: #707071;  */ 
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

.nav-sidebar>li>a:hover, .nav-sidebar>li>a:focus {
	/*background-color: #707071;*/
}

input#producto{
	background-color: transparent;
	border-bottom-style: groove;
	border-color: white;
	border-radius: 0;
	/*color: white;*/
}

input#cantidad{
	background-color: transparent;
	border-bottom-style: groove;
	border-color: white;
	border-radius: 0;
	/*color: white;*/
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: transparent;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: transparent;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: transparent;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: transparent;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: transparent;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: transparent;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.th1{
  text-decoration: underline;
  font-size: large;
}

#autoSuggestionsList > li {
	background: none repeat scroll 0 0 #F9F9F9;
	border-bottom: 1px solid #E3E3E3;
	list-style: none outside none;
	padding: 3px 15px 3px 15px;
	text-align: left;
	
}

#autoSuggestionsList > li a{
	display: block;
	text-decoration: none;
}

#autoSuggestionsList > li:hover{
	background-color: #F1F1F1;
}
.auto_list {
	width: 200px;
    border: 1px solid #E3E3E3;
    position: absolute;
    z-index: 10;
}

.rechazado{
	background-color: gray;
	color: #000000;
}

.displayblock {
	display: block;
}

.img-perfil
{
	width: 180px; 
	height: 180px !important;
}

.img-perfil-sm
{
	width: 80px; 
	height: 80px !important;
}

.img_div
{
	display: inline-block;
}

.datos_img
{
	display: inline-block; 
	vertical-align: top; 
	margin-left: 15px;
}

.btn-mover-fotos{
	margin-top: 15px; 
	width: 30px
}

.editable{
	padding: 0 !important;
	cursor: default !important;
	border: transparent !important;
    background-color: transparent !important;
    /*width: auto !important;*/
    font-size: 13px !important;
}

.editable2{
	border: transparent !important;
    background-color: transparent !important;
    width: auto !important;
    font-size: 13px !important;
}

input.web{
	text-decoration: underline;
	color: #3c8dbc;
	width: 100px;
}

input.web:hover{
	text-decoration: none;
	color: #72afd2;
	cursor: pointer !important;
}
.padtop{
	padding-top: 2% !important;
	height: 51px;
}

.border-right{
	border-right: #DDDDDD;
    border-right-style: inset;
    border-right-width: thin;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.transparente{
	background-color: transparent !important;
}

.displaynone{
	display: none !important;
}
.img-bookblock{
	height: 300px !important;
}

.vistaprevia{
	margin-top: 10px;
	width: 100%;
	height: 400px;
}

.text-center{
	text-align: center;
}

a[href].sinhref:after {
    content: none !important;
}

textarea.no-textarea{
	border: 0;
    width: 100%;
    overflow: hidden;
    resize: none;
}

div.mensajeria{
	box-shadow: 0px 1px 1px 0px;
	border-radius: 5px 5px
}

.img-cuadrada{
	width: 50px;
	/*height: 10%; */
	display: block;
}

.img-mensajeria{
	position: absolute;
    top: 5px;
}

.btn-accion-mensajes{
	margin-top: 10px; 
	position: absolute !important; 
	z-index: 1000;
}

div.user-panel{
	background-color: white;
	border-right-style: inset;
	border-right-width: 1px;
	border-right-color: #F1F1F1;
}

.fa-6x {
	font-size: 6em !important;
}

.font-notas{
	font-size: 14.5px;
}

.link-diccionarios{
	display: block; 
	color: black; 
}

.col-eliminar{
	width: 50px;
}
